<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Solidarios</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><%=link_to "Homeshare",root_path, class: "navbar-brand"%></li>
      <li><%=link_to "Programmes in Bxl",programmes_bxl_show_path, class: "navbar-brand"%></li>
      <li><%=link_to "About Homeshare",about_homeshare_show_path, class: "navbar-brand"%></a></li>
      <li><%=link_to "Plan Homeshare",plan_homeshare_show_path, class: "navbar-brand"%></a></li>
      <li><%=link_to "Homeshare International",homeshare_international_show_path, class: "navbar-brand"%></a></li>
      <li><%=link_to "Press and Media",press_and_media_show_path, class: "navbar-brand"%></a></li>
      <li><%=link_to "Register and Contact",register_and_contact_show_path, class: "navbar-brand"%></a></li>
      <li><%=link_to "Brusels 2019",bxl_show_path, class: "navbar-brand"%></a></li>
      <li><%=link_to "Programme",programme_show_path, class: "navbar-brand"%></a></li>
      <li><%=link_to "Speakers",speakers_show_path, class: "navbar-brand"%></a></li>
    </ul>
    <!-- <button class="btn btn-danger navbar-btn">REGISTER AND CONTACT</button> -->
  </div>
</nav>

