<nav class="navbar navbar-position navbar-color navbar-fixed-top">

    <ul class="nav navbar-nav">
      <li %><a class="navbar-brand logo-img" href="#">............</a></li>
      <li class="active"><%=link_to "Homeshare",root_path, class: "navbar-brand"%></li>
      <li><%=link_to "Welcome to Brussels",welcome_show_path, class: "navbar-brand"%></a></li>
      <li><%=link_to "1toit2ages in Belgium",programmes_bxl_show_path, class: "navbar-brand"%></li>
      <li><%=link_to "About Homeshare",about_homeshare_show_path, class: "navbar-brand"%></a></li>
      <li><%=link_to "Homeshare International",homeshare_international_show_path, class: "navbar-brand"%></a></li>
      <li><%=link_to "Press and Media",press_and_media_show_path, class: "navbar-brand"%></a></li>
      <li><%= link_to "Français", :locale=>'fr'%></li>
      <li><%= link_to "English", :locale=>'en'%></li>
      <li><%=link_to "Register and Contact",register_and_contact_show_path, class: "navbar-brand"%></a></li>
      <!-- <li><%=link_to "Brusels 2019",bxl_show_path, class: "navbar-brand"%></a></li> -->
      <li><%=link_to "Programme",programme_show_path, class: "navbar-brand"%></a></li>
      <li><%=link_to "Speakers",speakers_show_path, class: "navbar-brand"%></a></li>
    </ul>
    <!-- <button class="btn btn-danger navbar-btn">REGISTER AND CONTACT</button> -->
  </div>
</nav>
